/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*-------------Custom Properties-----------*/
:root {
  --first-color: #02d9ff;
  --first-alpha-color: #02d9ffb3;
  --second-color: #000000;
  --second-alpha-color: #000000bf;
  --third-color: #02b3ff;
  --third-alpha-color: #02b3ffbf;
  --four-color: #ff2a78;
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #02b3ff;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.3);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/*-----------------Reset-------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

a:hover {
  color: var(--white-color);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

.inline {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

/*----------------Components---------------*/

/*------Footer------*/

.footer {
  color: var(--white-color);
  background-color: var(--black-color);
}

/*----Hero image---*/

.hero-image {
  /*se define la variable --hero-image cuyo ambito es solamenta el contenedor article .hero.image */
  --hero-image: url("img/403.jpg");
  /* Se define la variable --hero-attachment de ambito solo en este contenedor */ /*el valor fixed evita que la imagen se mueva con el scroll( barra de desplazamiento)*/
  --hero-attachment: fixed;
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  /*se define la variable --hero-opacity-color cuyo ambito es solamenta en el contenedor aside .hero-image-opacity */
  --hero-opacity-color: var(--black-alpha-color);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

/*
.hero-image-content {
  width: 48vw;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 40px;
  background-color: var(--hero-opacity-color);
}
*/

.hero-image-title {
  --hero-text-color: var(--white-color);
  font-size: 6.5vw;
  color: var(--hero-text-color);
}

/*---------Formulario de contacto------*/

.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--gray-dark-color);
}
.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  -webkit-transition: all 0.5 ease-out;
  -o-transition: all 0.5 ease-out;
  transition: all 0.5 ease-out;
}

.contact-form input[type="submit"] :hover {
  opacity: 0.75;
}

.contact-form *::-webkit-input-placeholder {
  /* estilo para el texto del atributo placeholder, se trata como pseudoelemento de cualquier hijo del formulario */
  color: var(--gray-dark-color);
}

.contact-form *::-moz-placeholder {
  /* estilo para el texto del atributo placeholder, se trata como pseudoelemento de cualquier hijo del formulario */
  color: var(--gray-dark-color);
}

.contact-form *:-ms-input-placeholder {
  /* estilo para el texto del atributo placeholder, se trata como pseudoelemento de cualquier hijo del formulario */
  color: var(--gray-dark-color);
}

.contact-form *::-ms-input-placeholder {
  /* estilo para el texto del atributo placeholder, se trata como pseudoelemento de cualquier hijo del formulario */
  color: var(--gray-dark-color);
}

.contact-form *::placeholder {
  /* estilo para el texto del atributo placeholder, se trata como pseudoelemento de cualquier hijo del formulario */
  color: var(--gray-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--third-color);
}

.contact h5 {
  text-align: center;
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/*-------Menu------*/

.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  pointer-events: none;
  background-color: var(--second-color);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:last-child {
  padding-right: 0;
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

/* media querie para hacer desaparecer el botón de menú para mobile*/
/* y congigurar las opciones de menu en horizontal con resolución de 1024px o superior */
@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }
  .menu a {
    font-size: 1.25rem;
    padding: 0.6rem 1rem;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/* ---Ventana Modal---*/

.modal {
  /* la clase "modal" aplica los estilos para las ventanas modales del proyecto*/
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.modal-content {
  position: relative;
}

/*--Al hacer clic sobre el enlace .modal-close y como el destino es #cerrar y no existe,  la ventana modal se cierra*/
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

/* En selectores de atributos CSS, ^= selecciona elementos cuyo atributo comienza con un valor específico, mientras que |= selecciona elementos cuyo atributo comienza con un valor específico o es exactamente ese valor */
.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ---ProgressBar--- */

progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}

progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 0.85rem;
}

/*----------------Utilities----------------*/

.acerca-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block; /* Los enlaces trabajan en linea porque necesitamos que tenga características de linea y bloque para que tenga cuerpo y podamos aplicar paddings laterales*/
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  /* La clase container limita el tamacho de nuestro contenido al ancho máximo especificado "max-width" en la variable "var(--max-width)" , en este proyecto 1200px */
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.full-lg-screen {
  width: 100%;
  min-height: 100vh;
}

.full2-lg-screen {
  width: 100%;
  min-height: 95vh;
}

.gray-scale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.none {
  /*la clase none la utilizamos para ocultar elementos, con programación javascript modificaremos la clase para visualizar el objeto o utilizando características de css como la pseudoclase:target */
  display: none;
}

.section {
  /* la clase "section" aplica cierto padding arriba, abajo y a los lados a nuestras secciones , que son las diferentes opciones del menú */
  padding: 2rem 1rem;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  margin: 2rem 0.05vw;
  padding: 0.5rem 0.5rem;
  text-align: center;
  color: var(--title-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/*----------------Site Styles--------------*/

.about > article {
  margin-bottom: 2rem;
}

.btn-contact {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact {
  max-width: 100%;
  height: auto;
  background-color: var(--gray-light-color);
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact h4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home a {
  font-size: 1.5rem;
  color: var(--black-color);
}

.nombre {
  color: var(--first-color);
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;

  transition: all 0.7s ease-in-out;
}
.nombre :hover {
  color: var(--white-color);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(1, 90vw);
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.portfolio-link {
  text-align: center;
  border: medium solid var(--gray-color);
  border-radius: 10px;
  padding-bottom: 1rem;
}
.portfolio-link1 {
  padding-bottom: 1rem;
}

.service-card {
  margin: 1rem 0.8rem;
  padding: 1rem 0.5rem;
  text-align: center;
}

.service-card h3 {
  color: var(--title-color);
}

.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}

.space-header {
  max-width: 100vw;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*media querie para version tablet ancho superior de pantalla a 768px*/
@media screen and (min-width: 768px) {
  .nombre {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    text-decoration: none;

    transition: all 0.7s ease-in-out;
  }
  .nombre :hover {
    color: var(--white-color);
  }

  .section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    width: 300px;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--title-color);
  }

  .services > .container {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (45%) [2];*/
    grid-template-columns: repeat(2, 45%);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .services .section-title {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .service-card {
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .portfolio-grid {
    grid-template-columns: repeat(1, 70vw);
  }
}

/*media querie para version desktop ancho superior de pantalla a 1024px*/
@media screen and (min-width: 1024px) {
  .about {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (30%) [3]; */
    grid-template-columns: repeat(3, 30%);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .header {
    position: sticky; /* a diferencia de fixed no tapa el contenido definido inmendiatamente después en el html*/
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .nombre {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.25rem;
    padding: 1rem;
    text-decoration: none;

    transition: all 0.7s ease-in-out;
  }
  .nombre :hover {
    color: var(--white-color);
  }

  .section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    width: 300px;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--title-color);
  }

  .services > .container {
    /* -ms-grid-columns: (30%) [3]; */
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .service-card {
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .portfolio-grid {
    grid-template-columns: repeat(1, 60vw);
  }
}
